 <!DOCTYPE html>
<HTML>
	<HEAD>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>

img {
    float: left;
    width:  300px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
h1{
   transition: all 0.5s ease-out;
}

h1:hover{
   background-position: right;

}

img {
    float: left;
    width:  250px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}


.p {
        font-family:lavender;
	}
body
{
background-color:#dce9f1;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
#mySidenav a {
  position: absolute;
  right: 40px;
  transition: 0.3s;
  padding: 15px;
  width: 190px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  right: 0;
}

#follow_us 
{
  top: 5px;
  background-color: #dce9f1;
}

#about {
  top: 80px;
  background-color: #dce9f1;
}

#blog {
  top: 140px;
  background-color: #dce9f1;
}

#projects {
  top: 200px;
  background-color: #dce9f1;
}

#contact {
  top: 260px; 
  background-color: #dce9f1;
}
#GFG {
            text-decoration: none;
        }
.p {
        font-family:lavender;
	}
body
{
background-color:E6E6FA;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 8px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
#mySidenav a {
  position: absolute;
  right: 40px;
  transition: 0.3s;
  padding: 15px;
  width: 190px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  right: 0;
}

#follow_us 
{
  top: 5px;
  background-color: #dce9f1;
}

#about {
  top: 80px;
  background-color: #dce9f1;
}

#blog {
  top: 140px;
  background-color: #dce9f1;
}

#projects {
  top: 200px;
  background-color: #dce9f1;
}

#contact {
  top: 260px; 
  background-color: #dce9f1;
}
		</style>
	
	  </head>
  <body > {% include 'main.html' %}

<div >
{% block container %}
{% endblock %}
 

</div>

</div>
{% if val=="picasso" %}
<div  style="font-family:Brush Script Std";>
	<p style= "font-size:25px"; align:"center">{{ val}}</p>
	 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='picasso1.jpg') }}"/>	  <br><br>
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;Le Rêve (Picasso)</p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:18px;">&nbsp; Le Rêve (English: The Dream) is a 1932 oil on canvas painting (130 × 97 cm) by Pablo Picasso, then 50 years old, portraying his 22-year-old mistress Marie-Thérèse Walter. It is said to have been painted in one afternoon, on 24 January 1932. It belongs to Picasso's period of distorted depictions, with its oversimplified outlines and contrasted colors resembling early cubism. The erotic content of the painting has been noted repeatedly, with critics pointing out that Picasso painted an erect penis, presumably symbolizing his own, in the upturned face of his model.[1] On 26 March 2013, the painting was sold in a private sale for $155 million, making it one of the most expensive paintings ever sold.


</div>
  		 </div>
	</div></div> <br> 
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='picasso2.jpg') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;The Blue Period (1901 - 1904) </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp; This era is so named for the blue hues prevalent in so many of Picasso’s paintings from the time. Picasso attributed his choice to paint only in blues to the depression he felt after the death of his friend Carlos Casagemas, who shot himself in the head at a Paris café. One of Picasso’s most beloved works in blue is The Old Guitarist, which depicts a gaunt, elderly man in rags seated on the ground playing a guitar.

 
  		 </div>
	</div>
</div>

<br>
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='picasso3.jpg') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;Surrealism (1928 - 1948) </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp;Beginning in the early 1920s, the field of Surrealism began to flourish in all of the arts. Like many painters of the time, Picasso was deeply interested in Surrealist theories, which attempted to reconcile humanity’s dream life with reality. Some of Picasso’s early Surrealist works are included in what some call his “Bone Period,” in which he represented human figures as reminiscent of grotesque collections of bone fragments.

 
 
  		 </div>
	</div>
</div>



<br>
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='picasso4.jpg') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;Guernica (1937)  </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp;From 1936 to 1939, Spain was in a state of civil war between Nationalist and Republican forces. The Nationalists were aligned with Fascist powers in Germany and Italy. In spring of 1937, German and Italian airplanes bombed the Basque village of Guernica at the request of Spanish Nationalists. This was the first time a modern air force attacked an unarmed civilian population. Earlier that year, the Spanish Republicans had commissioned Picasso to paint a mural for the 1937 World’s Fair in Paris. The work Picasso created for the fair responded to the bombing. Titled Guernica, it shows heaps of twisted bodies in agony among urban ruins. It’s considered his masterpiece. The work mixes various aesthetic approaches, from Cubism to Neo-Classicism to Surrealism. Its use of black, white and grey evokes news photography, referencing his early use of news clippings in his collages and blurring the border between art and journalism.
 
 
  		 </div>
	</div>
</div>
{% endif %}

{%  if val=="vincent van vogh"%}

<div  style="font-family:Brush Script Std";>
	<p style= "font-size:25px"; align:"center">{{ val}}</p>
	 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='v1.jpg') }}"/>	  <br><br>
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;STARRY NIGHT</p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:18px;">&nbsp;  Vincent van Gogh painted Starry Night in 1889 during his stay at the asylum of Saint-Paul-de-Mausole near Saint-Rémy-de-Provence. Van Gogh lived well in the hospital; he was allowed more freedoms than any of the other patients. If attended, he could leave the hospital grounds; he was allowed to paint, read, and withdraw into his own room. He was even given a studio. While he suffered from the occasional relapse into paranoia and fits - officially he had been diagnosed with epileptic fits - it seemed his mental health was recovering.
Unfortunately, he relapsed. He began to suffer hallucination and have thoughts of suicide as he plunged into depression. Accordingly, there was a tonal shift in his work. He returned to incorporating the darker colors from the beginning of his career and Starry Night is a wonderful example of that shift. Blue dominates the painting, blending hills into the sky. The little village lays at the base in the painting in browns, greys, and blues. Even though each building is clearly outlined in black, the yellow and white of the stars and the moon stand out against the sky, drawing the eyes to the sky. They are the big attention grabber of the painting.
</div>
  		 </div>
	</div></div> <br> 
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='v2.jpg') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;The Potato Eaters (1901 - 1904) </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp; The Potato Eaters, completed in 1885, is considered by many to be Van Gogh's first great work of art. At the time of its creation, Van Gogh had only recently started painting and had not yet mastered the techniques that would later make him famous. This could attribute to the interesting look of the piece as well as the overall feeling produced from the painting.

Van Gogh wished to create his first masterpiece that could boost his reputation as a developed artist; his goal was to paint human figures that did not appear to be awkward, but rather existing naturally. Portraying the figures in a dark room with light from an oil lamp, however, proved to be a bit too extreme for his newly acquired artistic skills. The outcome of all of these factors, in turn, made the painting more appreciated in the art community then if Van Gogh had succeeded in his original task.
  		 </div>
	</div>
</div>

<br>
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='v3.jpg') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;THE STORY OF IRISES </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp;
On May 8, 1889, Vincent Van Gogh committed himself to the asylum at Saint Paul-de-Mausole in Saint-Remy, France after many instances of hospitalization and self-mutilation. During his stay he painted some 130 paintings with the surrounding gardens and clinic becoming his main subjects for painting. Among these were the famous The Starry Night and Irises.

Inspired by the nature surrounding him, Van Gogh began his work on Irises within the first week of his stay at the asylum. Irises was most likely influenced by Japanese woodblock prints which were produced beginning in the 17th century. Like many artists of his time Van Gogh was influenced by the Japanese works. The use of black contours in Irises is a typical element of Japanese woodblock prints. It helped to reinforce the expressive power of the painting.

There are no known drawings of the piece, probably because Van Gogh did not consider it a masterpiece but simply a study. Upon receiving the canvas Van Gogh’s brother, Theo, submitted it, along with The Starry Night, to the Salon des Independants in September of 1889.

Irises is on the list of the most expensive paintings ever sold, selling for 54 million dollars in 1987. Currently Irises is on display at The Getty Center in Los Angeles, California.
 
  		 </div>
	</div>
</div>



<br>
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='v4.jpg') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;SUNFLOWERS </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp;There are pieces of artwork drifting through galleries around the world that have become nearly synonymous with the artists name and techniques. The various paintings of Sunflowers and Vincent van Gogh are a perfect example of this. Not only can one make a mental connection between the artists name and painting but also between the artist and their influence on the development of art through these paintings. Vincent van Gogh's Sunflower paintings have been duplicated many times by various artists (although never reaching the vivacity and intensity of Van Gogh's) and displayed everywhere; from households to art expos.

Upon looking at these paintings one begins to notice aspects that seem to flow from one piece to another. The colors are vibrant and express emotions typically associated with the life of sunflowers: bright yellows of the full bloom to arid Vase with Fifteen Sunflowers browns of wilting and death; all of the stages woven through these polar opposites are presented. Perhaps this very technique is what draws one into the painting; the fulfillment of seeing all angles of the spectrum of life and in turn reaching a deeper understanding of how all living things are tied together.
  		 </div>
	</div>
</div>

{% endif %}

{%  if val=="MF hussain"%}

<div  style="font-family:Brush Script Std";>
	<p style= "font-size:25px"; align:"center">{{ val}}</p>
	 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='m1.jfif') }}"/>	  <br><br>
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;Mahabharat</p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:18px;">&nbsp;    It is one of the two major Hindu Mythological Sanskrit epics of India. It is the narration of the great eighteen-day Kurukshetra war between the hundred Kauravas and the five Pandavas, the children of two brothers. Interwoven with many stories and a multitude of characters, it comprises philosophical and devotional material. It also contains the Bhagwat Gita, the much revered Hindu religious text. Mahabharat is not meant to be read as a pastime for amusement. You have to delve deeply into it and understand the characters and their actions and reactions. Once involved in the story, you will find yourself playing out so many roles, identifying something similar with the characters as they appear in the story.
</div>
  		 </div>
	</div></div> <br> 
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='m2.jfif') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;Horses </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp;    Power of Horses
  		 </div>
	</div>
</div>

<br>
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='m3.jpg') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;THE SEVEN HORSES </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp; Power of seven horses in abstract way
  		 </div>
	</div>
</div>



<br>
 <div class="card">
		 
	<div class="row">
  			<div class="column">
  				 
				 
			 <img src="{{ url_for('static',filename='m4.jpg') }}"/>	  <br> 
                         <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; 
     				   color: transparent;font-size:25px;">&nbsp;Ganpati </p>

   
				</div>
		 	  <div class="column" style="float:left">
	      <p style="font-family:Brush Script Std;background-image: linear-gradient(to left, black,gold);
	        -webkit-background-clip: text;
     	   -moz-background-clip: text;
     	   background-clip: text; float:left;width:490px;
     				   color: transparent;font-size:17px;">&nbsp;  Lord Ganesh in abtract way

	 </div>
	</div>
</div>

{% endif %}

  </body>
 
</html>

  
 